/* font-family: 'Bangers', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Turret Road', cursive; */

.title{
    font-family: 'Luckiest GUy', cursive;
}

.box{
    width: 100%;
    height: 300px;
    background-color: rgb(70, 104, 102);
}